@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Market App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This site created for shopping</a>.</p>
</div>
